.content-container {
    background-color: var(--lilac);
    height: fit-content;
    width: calc(15*var(--x-large));
    box-shadow: -5px 5px 2px var(--dark-gray);
    padding: var(--small);
    max-height: 95%;
    margin-bottom: var(--x-large);
    overflow-y: overlay;
}

@media all and (max-width: 480px) {
    .content-container {
        margin-left: var(--small);
        width: 90%;
        height: calc(10*var(--x-large));
        display: block;
    }
}