.page-container {
    display: flex;
    flex-direction: column;
}

.icons-container {
    display: flex;
    height: 90vh
    
}


@media all and (max-width: 480px) {
    .icons-container {
        height: fit-content;
    }
}